.addcoin  {
	margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.editcoin {
	margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.addcoin__item  {
		margin-bottom: 10px;
}

.editcoin__item {
		margin-bottom: 10px;
}

.addcoin__submit {
	margin: 0 50px;
}

.editcoin__submit {
	margin: 0 50px;
}